/* ========= CSS VARIABLES ========= */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --font-body: "Outfit", sans-serif;
  --font-heading: "Young Serif", serif;

  --fs-body: 16px;
}

/* ========= RESET ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= GLOBAL ========= */
body {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  line-height: 1.6;
  background-color: var(--stone-100);
  color: var(--stone-600);
  padding: 1rem;
}

/* ========= CARD ========= */
.recipe-card {
  background: var(--white);
  border-radius: 1rem;
  max-width: 740px;
  margin: auto;
  padding: 1.5rem;
}

/* ========= HEADER ========= */
.recipe-header img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.recipe-header h1 {
  font-family: var(--font-heading);
  color: var(--stone-900);
  margin: 1rem 0;
}

/* ========= SECTION TITLES ========= */
h2 {
  font-family: var(--font-heading);
  color: var(--brown-800);
  margin-bottom: 1rem;
}

/* ========= PREP BOX ========= */
.prep-time {
  background: var(--rose-50);
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 1.5rem;
}

.prep-time h2 {
  font-size: 1.1rem;
  color: var(--rose-800);
}

/* ========= LIST STYLING ========= */
ul, ol {
  margin-left: 1.3rem;
}

li {
  margin-bottom: .5rem;
}

ol li strong, ul li strong {
  color: var(--stone-900);
}

/* ========= SEPARATORS ========= */
.separator {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

/* ========= TABLE ========= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table tr {
  border-bottom: 1px solid var(--stone-150);
}

table td {
  padding: .75rem 0;
}

table td:last-child {
  font-weight: 700;
  color: var(--brown-800);
}

/* ========= DESKTOP ========= */
@media (min-width: 768px) {
  body {
    padding: 3rem;
  }

  .recipe-card {
    padding: 2.5rem;
    border-radius: 1.5rem;
  }

  .recipe-header img {
    border-radius: 1rem;
  }
}
